.users {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 25px;
  color: rgba(61, 61, 61, 0.954);
}

.all_users {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 50%;
  transform: translate(-50%);
}

.checkboxes {
  margin-top: 40px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  color: rgba(61, 61, 61, 0.954);
}

.checkboxes input[type="radio"] {
  margin-right: 8px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #ccc;
  outline: none;
  transition: all 0.2s ease-in-out;
}

.checkboxes input[type="radio"]:checked {
  border-color: #0077ff;
}

.checkboxes label {
  font-size: 16px;
  color: rgba(61, 61, 61, 0.954);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.checkboxes label:hover {
  color: #0077ff;
}

.checkboxes input[type="radio"] + label {
  margin-right: 16px;
}

.checkboxes input[type="radio"] + label:last-of-type {
  margin-right: 0;
}

@media only screen and (max-width: 1000px) {
  .all_users {
    width: 100%;
  }

  .checkboxes label {
    font-size: 12px;
  }

  .checkboxes input[type="radio"] {
    width: 12px;
    height: 12px;
  }
}
