.main_div {
  display: flex;
  justify-content: flex-start;
  font-family: "Futura", sans-serif;
  color: rgba(61, 61, 61, 0.954);
}

.buttons {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  position: fixed;
  left: 12%;
  top: 17%;
  font-family: "Futura", sans-serif;
}

.button {
  margin-top: 20px;
  background-color: rgba(240, 163, 9, 0.584);
  color: rgba(61, 61, 61, 0.954);
  width: 100px;
}

.button:hover {
  background-color: rgba(208, 130, 6, 0.584) !important;
}

.content {
  margin: 0 auto;
}

.menu {
  background-color: transparent !important;
  border-inline-end: none !important;
  font-family: "Futura", sans-serif;
  color: rgba(61, 61, 61, 0.954) !important;
}

@media only screen and (max-width: 1450px) {
  .buttons {
    left: 95%;
    top: 10%;
    transform: translate(-95%, -10%);
  }
}

@media only screen and (max-width: 1000px) {
  .buttons {
    left: 90%;
    top: 10%;
    transform: translate(-90%, -9%);
    margin-bottom: 0;
  }

  .menu {
    font-size: 10px;
  }
}

@media only screen and (max-width: 500px) {
  .buttons {
    left: 90%;
    top: 5%;
    transform: translate(-90%, -5%);
  }
}
