.main_div {
  display: flex;
  justify-content: flex-start;
}

.buttons {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
 
}

.button {
  margin-top: 20px;
  background-color: rgba(240, 163, 9, 0.584);
  color: rgb(35, 34, 34);
}

.button:hover {
  background-color: rgba(208, 130, 6, 0.584) !important;
}

.content {
  margin: 0 auto;
}