.products {
  /* height: 300px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 25px;
  
}

.all_products {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.pagination {
 justify-self: flex-end;
}

.filters {
  display: flex;
  margin-bottom: 20px;
}

.select {
  margin-left: 5px;
  margin-right: 20px;
}