.section {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 10px;
  margin-bottom: 10px;

}

.existing_sections {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 60px;
}

.button {
  background-color:rgb(168, 221, 244);
  width: 100px;
  align-self: center;

}

.input {
  width: 250px;
  margin-bottom: 15px;
  
}
.form {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
.text {
  margin-bottom: 20px;
}

.sections {
  width: 500px;
  /* height: 400px; */
  display: flex;
  flex-wrap: wrap;
  /* align-items: center; */
  justify-content: center;
}

.main {
  height: 400px;
}

::placeholder {
  text-align: center;
}