/* .charts {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  width: 65%;
} */
.charts {
  margin-top: 80px;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 55%;
  transform: translateX(-55%);
  width: 80%;
  max-width: 1200px;
}

.chart_container {
  width: 30%;
  background-color: #f7f7f78d;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
  margin-right: 10px;
  height: 400px;
}

canvas {
  width: 100%;
  height: 100%;
}

/* @media screen and (max-width: 768px) {
  .charts {
    flex-direction: column;
    align-items: stretch;
  }

  .chart-container {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
} */
