.charts {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 55%;
  transform: translateX(-55%);
  width: 80%;
  max-width: 1200px;
}

.chart_container {
  width: 30%;
  background-color: #f7f7f78d;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
  margin-right: 10px;
  height: 400px;
}

@media screen and (max-width: 1755px) {
  .charts {
    margin-top: 180px;
    margin-left: 100px;
  }
}

@media screen and (max-width: 1450px) {
  .charts {
    left: 55%;
    transform: translateX(-55%);
    margin-top: 10px;
    margin-left: 10px;
  }
}

@media screen and (max-width: 1200px) {
  .chart_container {
    width: 50%;
    height: 220px;
    margin-top: 1px;
  }

  .charts {
    margin-top: 1px;
    flex-direction: column;
  }
}

@media screen and (max-width: 740px) {
  .chart_container {
    width: 70%;
  }
}

@media screen and (max-width: 500px) {
  .chart_container {
    width: 80%;
    height: 200px;
    padding: 0;
  }

  .charts {
    margin-top: 70px;
  }
}
