.button_search {
  margin-left: 10px;
}

.button_reset {
  margin-left: 10px;
}

.main_div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  left: 50%;
  transform: translate(-50%);
}

.data {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  height: 65vh;
}

.total_info {
  display: flex;
  flex-direction: row;
  margin-right: 10px;
}

.key {
  margin-right: 3px;
}

.table_revenue {
  width: 45vw;
  height: 400px !important;
  text-align: center;
}

.data_all {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}

.button_download {
  position: fixed;
  bottom: -15%;
  left: 50%;
  transform: translate(-50%);
}

@media screen and (max-width: 1000px) {
  .main_div {
    margin-top: 5px;
  }
  .button_search {
    margin-left: 5px;
  }

  .button_reset {
    margin-left: 5px;
  }

  .data {
    margin-top: 7px;
    height: 70vh;
  }

  .table_revenue {
    width: 80vw;
    text-align: center;
    height: 500px !important;
  }

  .button_download {
    bottom: 0%;
  }

  .select {
    width: 10vw;
  }
}

@media screen and (max-width: 580px) {
  .main_div {
    left: 47%;
    margin-top: 20px;
    top: 20%;
  }

  .data {
    margin-top: 5px;
  }

  .key {
    margin-right: 3px;
  }

  .table_revenue {
    width: 90vw;
    height: 30vh !important;
  }

  .button_download {
    bottom: 0%;
  }

  .select {
    width: 10vw;
  }

  .filter_dates {
    margin-top: 70px;
  }
}

@media screen and (max-width: 415px) {
  .button_download {
    bottom: 5%;
  }

  .select {
    width: 10vw;
  }

  .filter_dates {
    margin-top: 60px;
  }
}
