.calendar {
  width: 300px;
  height: auto;
  margin-bottom: 10px;
}

.when {
  margin-bottom: 10px;
}

.what_time {
  margin-bottom: 10px;
}

.time {
  margin-bottom: 10px;
}

.input {
  width: 250px;
  margin-bottom: 10px;
}

.who {
  margin-bottom: 10px;
}

.how_many {
  margin-bottom: 10px;
}

.phone {
  margin-bottom: 10px;
}

.button {
  margin-top: 20px;
  background-color: rgb(168, 221, 244);
  width: 100px;
  align-self: center;
  display: block;
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  font-family: "Futura", sans-serif;
  color: rgba(61, 61, 61, 0.954);
}

.main_div {
  height: 100%;
  text-align: center;
  margin-top: 30px;
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  font-family: "Futura", sans-serif;
  color: rgba(61, 61, 61, 0.954);
}
