.data {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.date {
  width: 110px;
  text-align: start;
  color: black;
  font-size: 20px;
  margin-right: 40px;
}

.time {
  width: 60px;
  text-align: start;
  color: black;
  font-size: 20px;
  margin-right: 30px;
}

.name {
  width: 60px;
  text-align: start;
  color: black;
  font-size: 20px;
  margin-right: 40px;
}

.guests {
  margin-right: 40px;
  
}

.phone {
 width: 120px;
 text-align: start;
  margin-right: 40px;
}

.edit {
  font-size: 22px;
  margin-right: 30px;
  color: gray;
  cursor: pointer;
}

.edit:hover {
  color: green;
}

.delete {
  font-size: 22px;
  color: gray;
  cursor: pointer;
}

.delete:hover {
  color: brown;
}

.modal {
  width: 250px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}