.data {
  display: flex;
  align-items: center;
}

.date {
  color: black;
  font-size: 20px;
  margin-right: 40px;
}

.time {
  align-self: center;
  color: black;
  font-size: 20px;
  margin-right: 40px;
}

.name {
  align-self: center;
  color: black;
  font-size: 20px;
  margin-right: 40px;
}

.edit {
  font-size: 22px;
  margin-right: 30px;
  color: gray;
  cursor: pointer;
}

.edit:hover {
  color: green;
}

.delete {
  font-size: 22px;
  color: gray;
  cursor: pointer;
}

.delete:hover {
  color: brown;
}

.filter_div {
  margin-bottom: 20px;
}

.select {
  background-color: transparent;
  font-size: 16px;
  padding: 2px;
}

.option {
  text-align: center;
}
