.filter_div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.main_div {
  margin-top: 40px;
  position: fixed;
  left: 50%;
  transform: translate(-50%);
}

.select {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  padding: 4px 8px;
  cursor: pointer;
  outline: none;
  transition: border-color 0.2s ease-in-out;
  font-family: "Futura", sans-serif;
  color: rgba(61, 61, 61, 0.954);
}

.select:hover,
.select:focus {
  border-color: #3b9c9c;
}

.option {
  text-align: center;
  font-family: "Futura", sans-serif;
  color: rgba(61, 61, 61, 0.954);
}

@media only screen and (max-width: 500px) {
  .select {
    font-size: 12px;
    padding: 2px 4px;
  }
}
