.dashboard {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  /* position: fixed;
  left: 50%;
  transform: translate(-50%); */
  width: 100%;
  margin-left: 25px;
}

.info {
  width: 350px;
  height: 230px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
  margin-bottom: 20px;
  margin-right: 10px;
}

.info:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.total_paid_orders,
.reservations {
  width: 350px;
  height: 200px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
}

.total_paid_orders:hover,
.reservations:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
  margin-left: 20px;
  margin-bottom: 20px;
  gap: 10px;
  font-size: 16px;
  color: rgb(59, 58, 58);
}

.title {
  text-align: center;
  font-size: 24px;
  color: gray;
  font-weight: bold;
  letter-spacing: 1px;
  margin-top: 20px;
}

.icon {
  font-size: 120px;
  font-weight: bold;
  position: absolute;
  color: rgba(85, 133, 13, 0.5);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  opacity: 0.2;
  transition: all 0.2s ease-in-out;
}

.info:hover .icon {
  opacity: 0.5;
  transform: translate(-50%, -50%) scale(1.1);
}

.digit {
  font-size: 24px;
  font-weight: 600;
  color: gray;
}

@media only screen and (max-width: 1100px) {
  .info {
    width: 320px;
  }

  .dashboard {
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    margin-left: 25px;
  }
}

@media only screen and (max-width: 900px) {
  .info {
    width: 300px;
    height: 200px;
  }

  .data {
    font-size: 14px;
  }

  .title {
    font-size: 16px;
  }

  .digit {
    font-size: 20px;
  }

  .dashboard {
    width: 90%;
  }
}

@media only screen and (max-width: 690px) {
  .info {
    width: 250px;
    height: 150px;
  }

  .data {
    font-size: 12px;
    gap: 1px;
  }

  .title {
    font-size: 12px;
  }

  .digit {
    font-size: 18px;
  }

  .dashboard {
    width: 95%;
    height: auto;
  }
}
