.categories {
  display: flex;
  justify-content: space-around;
}

.category {
  display: flex;
  border: 1px rgb(194, 193, 193) solid;
  width: 90px;
  height: 30px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color:rgba(123, 186, 51, 0.538);
  color: black;
}

.category:hover {
  background-color:rgba(123, 186, 51, 0.946);
}