.first_row {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 60px;
}

.table_first_row {
  margin-top: 30px;
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 100%;

}
.second_row {
  margin: 150px 50px;
  
  display: flex;
  justify-content: space-between;
}

.table_second_row {
  width: 150px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  margin-left: 50px;
  margin-right: 50px;
}

.third_row {
  display: flex;
  justify-content: space-evenly;
}

.table_third_row {
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 100%;

}