.main {
  width: 1100px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

@media only screen and (max-width: 420px) {
  .main {
    overflow-y: auto;
    max-height: calc(100vh - 350px);
  }
}

@media only screen and (max-width: 400px) {
  .main {
    overflow-y: auto;
    max-height: calc(100vh - 250px);
  }
}
